/*------------------------------------------------------------------
[Master Stylesheet]

Project:	User Web Design
Version:	1.0
Last change: 01/08/2010
Assigned to: Copo
-------------------------------------------------------------------*/

.cont_footer{
	padding-top:30px;
}
